.DS_Store
*.swp
.tddium*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# IDEA
.idea/
*.iml

# RVM
.rvmrc

# Sass
.sass-cache/
application.css

# Generated stuff
public/
temp/
bower_components/
bower/
app/javascript/
testpad/javascript/
tests/unit/javascript/
app/stylesheets/css/
app/template/compiled/
/node_modules/*
!/node_modules/grunt-neuterall
.tmp
npm-debug.log

# Asset pipeline filter
.bundle
tmp

# Code coverage
coverage

## EMACS
*~
\#*
.\#*

## VIM
*.swp

# tags
tags
gems.tags