<a class="open-dropdown button-control">
	{{loc tent.jqGrid.hideShowCaption}}<i class="icon-caret-down"></i>
</a>
<div class="dropdown-menu columns pull-right">
	<div class="window"></div>
	<ul>
		{{#each view.model}}
			<li><label><input type="checkbox" {{bindAttr data-column="name"}} {{bindAttr checked="checked"}}/><span class="title">{{loc title}}</span></label></li>
		{{/each}}
	</ul>
</div>