<div class="btn-group" data-toggle="buttons-radio">
  <button type="button" class="btn active" {{bindAttr title="tent.jqGrid.multiviewList"}} data-view="list" ><i class="icon-list"></i></button>
  <button type="button" class="btn" {{bindAttr title="tent.jqGrid.multiviewCard"}} data-view="card"><i class="icon-th"></i></button>
</div>