<div class="navbar navbar-fixed-top">
  <div class="navbar-border">
    {{view Tent.Application.PanelToggleView}}
    <div class="scicustomer-logo"></div> 
    <ul class="nav pull-right">
      <li class="opensci-logo">
        <img src="/images/OpenSCi_White_RGB.png">
      </li>
    </ul>
  </div>
</div>