<div class="controls">
    <label class="checkbox">
    	{{loc view.label}}
    	{{view Ember.Checkbox checkedBinding="view.checked" disabledBinding = "view.disabled" valueBinding= "view.value"}}
    </label>
</div> 