<div class="controls">
	<span class='tent-mandatory'/>
    <label class="checkbox">
    	{{view.label}}
    	{{view Ember.Checkbox  checkedBinding="view.checked" disabledBinding = "view.disabled" valueBinding= "view.value"}}
    </label>
</div> 