<label class="control-label">
  {{#if view.label}}{{loc view.label}}{{/if}}
</label>
<div class="controls">
  {{#each check in view._list}}
    {{view Ember.Checkbox checkedBinding="view.list.selected" disabledBinding = "view.disabled" }} {{check}}
  {{/each}}
</div>

