<header>
	<div class="header-border">
		<h1>{{view.content.title}}</h1>
	</div>
</header>
<div class="content">
	<div class="section">
		<label>Program</label>
		<p class="text-med">Rugged Bicycles LLC Pgm</p>
		<p class="text-large">$2,395,204</p>
		<label>Projected Settlement</label>
	</div>
	<div class="section">
		<label>Date :</label>
		<p>Jun 24, 2013</p>
		<label>Liquidity Available :</label>
		<p>$3,000,000</p>
		<label>Seller :</label>
		<p>Rugged Bicycles LLC</p>
		<label>Obligor :</label>
		<p>Sports R Us</p>
	</div>
</div>
<footer>
	<div class="footer-border">
		Footer content here..
	</div>
</footer>	
