

<div class="filter-details">

	{{view Tent.FilterFieldsView
		collectionBinding="view.collection"
	}}
	
	<div class="form-inline buttons">
		   	{{view Tent.Button label="tent.filter.clear" type="secondary" action="clearFilter" targetBinding="view" class="clear-filter pull-left"}}
	    	
	    	{{view Tent.Button label="tent.filter.filter" type="primary" action="filter" targetBinding="view" class="close-panel pull-right"}}
	</div>
</div>
