<span class='btn btn-primary fileinput-button'>
  {{#if view.helpText}}
  	<span><i class="icon-upload-alt"></i>&nbsp; &nbsp;{{loc view.helpText}}</span>
  {{/if}}
  <input type="file" name="files[]" {{bindAttr data-url="view.dataUrl" disabled="view.disabled"}} multiple >
  {{#if view.applyWait}}
     {{view Tent.WaitIcon}}
  {{/if}}
</span>



 