{{#if view.content.isLoadable}}
	{{#unless view.content.isLoaded}}
		{{view Tent.WaitIcon}}
  	{{/unless}}
{{/if}}

{{#if view.collection}}
		{{view Tent.CollectionFilter 
			filterTemplateBinding="view.filterTemplate" 
			collectionBinding="view.collection"
		}}
	 
{{/if}}

<table class="grid-table"></table>
<div class="gridpager"></div>
{{#if view.hasErrors}}
	<span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{loc error}}{{/each}}</span>
{{/if}}

