<div class="btn-group header-buttons">
	{{view Tent.Grid.AutofitButton gridBinding="view.parentView"}}

  	{{#if view.parentView.showExportButton}}
    	{{view view.exportView}}
  	{{/if}}

  	{{#if view.parentView.showColumnChooser}}
		{{view Tent.Grid.ColumnChooserButton gridBinding="view.parentView"}}  
	{{/if}}
</div>

{{#if view.parentView.collection}}
	{{#if view.parentView.filtering}}
		{{view Tent.CollectionFilter collectionBinding="view.parentView.collection"}}
	{{/if}}
{{/if}}	