<div class="btn-group header-buttons">
	{{#if view.grid.showAutofitButton}}
		{{view Tent.Grid.AutofitButton gridBinding="view.grid"}}
	{{/if}}

  	{{#if view.grid.showExportButton}}
  		{{#if view.someExportsAreAllowed}}
    		{{view view.exportView}}
    	{{/if}}
  	{{/if}}

  	{{#if view.grid.showColumnChooser}}
		{{view Tent.Grid.ColumnChooserButton gridBinding="view.grid"}}  
	{{/if}}
</div>

{{#if view.grid.collection}}
	{{#if view.grid.filtering}}
		{{view Tent.CollectionFilter collectionBinding="view.grid.collection"}}
	{{/if}}
{{/if}}	