<label class="control-label">{{view.label}}</label>

<div class="controls">
  {{view Ember.Select 
         contentBinding="view.list" 
         classBinding="view.inputSizeClass" 
         optionLabelPathBinding="view.optionLabelPath" 
         optionValuePathBinding ="view.optionValuePath" 
         selectionBinding="view.selected"
         multipleBinding="view.multiple"
         promptBinding = "view._prompt" 
         valueBinding = "view.value"}} 
	{{#if view.tooltip}}
    <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltip"}}></a>
  {{/if}}
	{{#if view.hasErrors}}
    	{{#each error in view.validationErrors}}
      		<span class="help-inline">{{view.validationErrors}}</span>
    	{{/each}}
  	{{/if}} 
</div>