{{#if view.formLayout}}
	<label class="control-label">{{view.label}}</label>
	<div class="controls">
		<div class="grid" style="width:auto;height:200px;"></div>
		<div class="pager"></div>
	</div>
{{else}}   
	<div class="grid" style="width:auto;height:200px;"></div>
	<div class="pager"></div>
{{/if}}

 